.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid-item {
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 10px;
  position: relative;
}

.grid-item h2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.grid-item .graph {
  z-index: 1;
  border-radius: 10px;
}

h2 {
  margin-left: 20px;
}

p {
  margin-left: 10px;
}

body {
  padding: 4em;
  font-family: "Roboto", sans-serif;
  background-color: #0f0d14;
  color: #ccc;
}

input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  width: 400px;
  margin: 0;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: #f00;
    position: relative;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
  }
}

.multi-range {
  position: relative;
  height: 50px;

  input[type="range"] {
    position: absolute;

    &:nth-child(1) {
      &::-webkit-slider-thumb::before {
        background-color: red;
      }
    }

    &:nth-child(2) {
      background: none;

      &::-webkit-slider-thumb::before {
        background-color: grey;
      }
    }
  }
}
